$text-gray: #3e3e3e;
$text-white: rgba(255,255,255,0.9);
$orange-red: #f04f00;
$green: #97cc18;
$blue: #7ebcf0;



/* Override styles from bones */

.header, .footer {
  background-color: transparent;
  color: $text-white;
}

#logo {
  margin-bottom: 0px;

  a {
    color: $text-white;
  }

}


/* Add my new styles */

body {
  font-family: "Open Sans", "Raleway", sans-serif;
  background: url(../images/dashboard_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

  font-family: "Raleway", "Open Sans", sans-serif;
  font-weight: 300;

  a {
    font-family: "Raleway", "Open Sans", sans-serif;
    font-weight: 300;
  }

}

.subHeading {
  font-family: "Open Sans", "Raleway", sans-serif;
  color: $text-gray;
  margin-bottom: 2em;
  position: relative;
  height: 1em;

  .message {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}


.cardContainer {
  width: 32%;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  margin-right: 1%;
  float: left;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.3);

  .screenshotContainer {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 200px;

    .screenshot {
      width: 100%;

    }
  }



  .entry-content {
    padding: 2em;
    position: relative;
  }

  h2 {
    margin-top: 0px;
    font-size: 1.5em;
    padding-right: 26%;
    color: $green;
  }

  .description {
    font-size: 12px;
  }

  .dateCircle {
    display: none;
    font-family: "Open Sans";
    position: absolute;
    top: 160px;
    left: 40%;
    width: 70px;
    height: 70px;
    border-radius: 4em;
    border: 6px solid #fff;
    background: $blue;
    color: rgba(255,255,255,0.7);
    font-weight: bold;
    z-index:6;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 9px;

    span {
      display: block;
      font-weight: bold;
      margin-top: -8px;
      font-size: 20px;

    }
  }

  .hashLabel {
    position: absolute;
    top: 1.7em;
    right: 1em;
    color: rgba(0,0,0,0.5);
    z-index:2;
    font-size: 10px;
  }

  .hashLink {
    position: absolute;
    top: 3em;
    right: -10px;
    display: block;
    width: 30%;
    overflow: hidden;
    color: rgba(255,255,255,0.8);
    background: $orange-red;
    padding: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    font-size: 11px;
    text-decoration: none;
    transition: 0.4s;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);

    .hashFade {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 40px;
      z-index:4;
      width: 50%;
      background: linear-gradient(left, rgba(240,79,0,0), rgba(250,79,0,1));
    }


  }

  .hashArrow {
    position: absolute;
    top: 3em;
    right: -10px;
    height: 10px;
    width: 10px;
    margin-top: 2px;
  }

  .hashLink:hover {
    width: 45%;
    color: #fff;


  }

}
